__pycache__/*
geckodriver.log
Tree.txt
log.txt
results.tsv
lib/__pycache__/*
.coverage
tests/__pycache__/*
.pytest_cache/
Pipfile
Pipfile.lock
assets/figures/*
taxdump.tar.gz
data/.~lock.Table_Ciqual_2020_FR_2020_07_07.xls#
